@model IEnumerable<StreamPlatform.Models.Stream>

<h1>Список потоков</h1>

<div class="streams-grid">
    @foreach (var stream in Model)
    {
        <a asp-action="Details" asp-route-username="@stream.User.UserName">
            <div class="streams-grid__item">
                <img src=@stream.PreviewImageUrl alt="Preview Image" class="index-image" />
                <span>@(stream.StreamName.Length <= 30 ? stream.StreamName : $"{stream.StreamName.Substring(0, 30)}...")</span>
            </div>
        </a>
    }
</div> 